<div class="life-record-page">
  <div class="avatar-and-menu">
    <div class="avatar-nickName">
      <div class="avatar">
        <!--头像-->
        <app-avater></app-avater>
      </div>
      <div class="nickName">
        <!-- 昵称 -->
        <app-user field="nickName"></app-user>
      </div>
    </div>
    <div class="life-menu">
      <!-- 左侧菜单栏 -->
      <app-life-menu></app-life-menu>
    </div>
  </div>
  <div class="cover-and-container">
    <div class="cover col-xs-12 col-md-12">
      <!-- 主页封面 -->
      <app-cover></app-cover>
    </div>
    <div class="router-container  col-xs-12 col-md-12">
      <!-- 子路由 -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>