<h2>
  {{engine.name}},{{engine.type}}
</h2>
<form #engineForm="ngForm" (ngSubmit)="submit(this.engineForm.value)">
  <div class="input-group">
    <label>
      name:
      <input type="text" class="form-control" [ngModel]="engine.name" name="name">
    </label>
  </div>
  <div class="input-group">
    <label>
      type:
      <input type="text" class="form-control" [ngModel]="engine.type" name="type">
    </label>
  </div>
  <div class="btn-group">
    <button type="submit" class="btn btn-primary">SAVE</button>
    <button type="button" class="btn btn-danger">CANCEL</button>
  </div>
</form>